<!DOCTYPE html>
<html>
<head>
	<title>Resume</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style type="text/css">
		*{
			font-family: Arial, Helvetica, sans-serif;
		}
		h3{
			color: darkviolet;
		}
		.dot {
  			height: 8px;
  			width: 8px;
  			background-color: darkviolet;
  			border-radius: 50%;
  		}
  		.bordercurves {
  			border-radius: 25px;
  		}


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}


	</style>
	
</head>
<body>
	<h1 style="color: darkviolet;">Prasad Gollapalli</h1>
		<center><div class="navbar">
 	<ul>
 		<li><a href="#EDUCATION">EDUCATION</a></li>
 		<li><a href="#SKILLS">SKILLS</a></li>
 		<li><a href="#EXPERINECE">EXPERINECE</a></li>
 		<li><a href="#PROFILE">PROFILE</a></li>
 		<li><a href="#CONTACT">CONTACT</a></li>
</ul></center>
		<center><div style="background-image: url('https://images.pexels.com/photos/2674064/pexels-photo-2674064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');height: 400px;width: 1100px;"><h1 style="color: red;"><br><br><br><center>HI<i style="color: black;"></i> I AM<br>Prasad Gollapalli<br></h1><br><i style="color: blue;">ENGINEERING AIML DEPARTMENT</i><br><br><button style="height: 35px;width: 150px;background-color: darkviolet;">
			<div class="button"><a href="C:\Users\G PRASAD\Desktop\Resume Task.html" download style="color: white;text-decoration: none;"target="_blank">Download Resume</a></button></center>
		<br></div>
		<center>ABOUT ME</center>
		<br>
		<hr>
		<br>
		<br>
		<center><div style="height: 350px;width: 700px" align="left">
			<div style="height: 350px;width: 380px;float: left;"><p style="font-size: 15px;font-family: cursive;">Myself kalebu, I am pursuing my Engineering in Aditya Engineering Collage. This is my own website developed by me. This was created just for my satisfaction and practice too.</p>
			<p style="font-size: 15px;"></p>
			<br>
			<br>
			<hr>
			<br>
			<p style="font-weight: bold">Phone&emsp;&emsp;&emsp;&emsp;&emsp;Email&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Website</p>
			<p style="font-size: 10px;">767-196-2366&emsp;&emsp;&emsp;&emsp;prasadgollapalli222@gmail.com&emsp;&emsp;www.kalebu cracked.com</p></div><div style="height: 350px;width: 30px;float: left;"></div>
			<div style="height: 330px;width: 275px;float: left;">
				<div style="height: 275px;width: 275px;"><img src="C:\Users\G PRASAD\Desktop\new profile dp Thub.jpg" height="275px" width="275px" align="right" ></div>
				<div style="height: 55px; width: 275;background-color: darkviolet;"><br>
				&emsp;&emsp;&emsp;&emsp;<i class="fa-brands fa-facebook fa-xl"></i>&emsp;<i class="fa-brands fa-instagram fa-xl"></i>&emsp;<i class="fa-brands fa-twitter fa-xl"></i>&emsp;<i class="fa-brands fa-linkedin fa-xl"></i></div>
			</div>
		</div></center>
		<br>
		<br>
		<br>
		<center><div id="EDUCATION" style="background-color: #F4F6F6;height: 300px;width: 1200px;">
			<br>
			<center style="font-weight: bold;">EDUCATION</center>
			<br>
			<hr color="#D5DBDB";>
			<br>
			<br>
			<div style="height: 300px;width: 400px;background-color: #F4F6F6;text-align: left;float: left;">
				<b>2015-2020</b><br>
				Secondary Education
				<div style="height: 5px;width: 400px;background-color: #D5DBDB;"><p class="dot">
				</p></div><br><br>
				<b>SRI SAI BALAGI E.M SCHOOL</b><br>
				<p>Andra Pradesh, India<br>
				<p></p>
			</div>
			<div style="height: 300px;width: 400px;background-color: #F4F6F6;text-align: left;float: left;">
				<b>2020-2022</b><br>
				Intermediate Education
				<br><div style="height: 5px;width: 400px;background-color: #D5DBDB;"><p class="dot">
				</p></div><br><br>
				<b>NARAYANA JR COLLAGE</b><br>
				<p>Andra Pradesh, India<br>
				<p></div>
			<div style="height: 300px;width: 400px;background-color: #F4F6F6;float: right;text-align: left;">
				<b>2022-Till</b><br>
				Secondary Education
				<div style="height: 5px;width: 280px;background-color: #D5DBDB;"><p class="dot">
				</p></div><br><br>
				<b>ADITYA ENGINEERING COLLAGE</b><br>
				<p>Andra Pradesh, India<br>
			</div>
		</div></center>
		<hr>
		<br>
		<center><div id="skills"style="height: 400px;width: 1200px;">
			<center><b>SKILLS</b></center>
			<br>
			<hr color="#D5DBDB">
			<br>
			<div style="background-color: white;float: left;width: 150px;">&ensp;</div>
			<div style="width: 500px;float: left;text-align: left;">
				ADOBE PHOTOSHOP
				<br>
				<br>
				<div class="bordercurves" style="width: 100px;height: 5px; background-color: darkviolet;float: left;"></div>
				<div class="bordercurves" style="width: 330px;height: 5px; background-color: lightgray; float: left;"></div>
				<div style="width: 50px;height: 8px; background-color: white;float: left;text-align: center;color: mediumvioletred;">30%</div>
				<br><br>
				ADOBE ILLUSTRATOR
				<br>
				<br>
				<div class="bordercurves" style="width: 50px;height: 5px; background-color: darkviolet;float: left;"></div>
				<div class="bordercurves" style="width: 380px;height: 5px; background-color: lightgray; float: left;"></div>
				<div style="width: 50px;height: 8px; background-color: white;float: left;text-align: center;color: mediumvioletred;">15%</div>
				<br><br>
				ADOBE AFTER EFFECTS
				<br>
				<br>
				<div class="bordercurves" style="width: 75px;height: 5px; background-color: darkviolet;float: left;"></div>
				<div class="bordercurves" style="width: 355px;height: 5px; background-color: lightgray; float: left;"></div>
				<div style="width: 50px;height: 8px; background-color: white;float: left;text-align: center;color: mediumvioletred;">30%</div>
				<br><br>
				SKETCH
				<br>
				<br>
				<div class="bordercurves" style="width: 100px;height: 5px; background-color: darkviolet;float: left;"></div>
				<div class="bordercurves" style="width: 330px;height: 5px; background-color: lightgray; float: left;"></div>
				<div style="width: 50px;height: 8px; background-color: white;float: left;text-align: center;color: mediumvioletred;">30%</div>
			</div>
			<div style="width: 500px;float: left;text-align: left;">
				HTML 5
				<br>
				<br>
				<div class="bordercurves" style="width: 215px;height: 5px; background-color: darkviolet;float: left;"></div>
				<div class="bordercurves" style="width: 215px;height: 5px; background-color: lightgray; float: left;"></div>
				<div style="width: 50px;height: 8px; background-color: white;float: left;text-align: center;color: mediumvioletred;">50%</div>
				<br><br>
				CSS 3 ANIMATION
				<br>
				<br>
				<div class="bordercurves" style="width: 150px;height: 5px; background-color: darkviolet;float: left;"></div>
				<div class="bordercurves" style="width: 280px;height: 5px; background-color: lightgray; float: left;"></div>
				<div style="width: 50px;height: 8px; background-color: white;float: left;text-align: center;color: mediumvioletred;">50%</div>
				<br><br>
				COMMUNICATION
				<br>
				<br>
				<div class="bordercurves" style="width: 215px;height: 5px; background-color: darkviolet;float: left;"></div>
				<div class="bordercurves" style="width: 215px;height: 5px; background-color: lightgray; float: left;"></div>
				<div style="width: 50px;height: 8px; background-color: black;float: left;text-align: center;color: mediumvioletred;">30%</div>
				<br><br>
				CREATIVITY
				<br>
				<br>
				<div class="bordercurves" style="width: 250px;height: 5px; background-color: darkviolet;float: left;"></div>
				<div class="bordercurves" style="width: 180px;height: 5px; background-color: lightgray; float: left;"></div>
				<div style="width: 50px;height: 8px; background-color: white;float: left;text-align: center;color: mediumvioletred;">60%</div>
			</div>
		</div></center>
		<br><br><br>
		<hr color="#D5DBDB">
		<br>
		<br>
		<center><div id="EXPERIENCE"style="height: 550px;width: 1200px;"><center><b>EXPERIENCE</b></center><br>
			<hr color="#D5DBDB"><br><br>
			<div style="height: 400px;width: 200px;float: left;"></div>
			<div style="height: 550px; width: 300px;float: left; text-align: right;">
				<b>2022-Present</b><br><br>ENGINEERING<br><br><br><br><br><br><br><br><br><b>NARAYANA JR COLLAGE</b><br><br>Kakinada, Andhra Pradesh<br><br><br><br><br><br><br>
				<b>2015-2020</b><br><br>SECONDARY SCHOOLING
			</div>
			<div style="float:left; height: 550px;width:50px;"></div>
			<div style="float:left; background-color:silver;height: 380px;width:5px;">
				<p class="dot"></p><br><br><br><br><br><br><br><br><p class="dot"></p><br><br><br><br><br><br><br><p class="dot"></p>
			</div>
			<div style="float:left;height: 550px;width:50px;"></div>
			<div style="height: 550px;width: 300px;float:left;text-align:left;">
				<b>ADITYA ENGINEERING COLLAGE</b><br><br>Andhra Pradesh, India<br><br><br><br><b>2020-2022</b><br><br>UNDER GRADUATION<br><br><br><br><br><br><br><b>NARAYANA EM SCHOOL</b><br><br>Rajahmundry, Andhra Pradesh<br><br><br><br>
			</div>
		</div></center><br><br><br><br><br>
		<center><div id="PROFILES"style="height: 550px;width: 1000px; background-color: white;text-decoration-color: #7F8C8D;"><hr><br><br><b>PROFILES</b><br><br><hr><br><br><br><br>
			<div style="height: 310px;width: 90px; background-color: white;float: left;"></div>
			<div style="height: 155px;width: 200px; background-color: white;float: left;"><br><br><br><i class="fa-brands fa-instagram fa-2xl"></i><br><br>Instagram</div>
			<div style="height: 165px;width: 2px; background-color: gray;float: left;"></div>
			<div style="height: 155px;width: 200px; background-color: white;float: left;"><br><br><br><i class="fa-brands fa-twitter fa-2xl"></i><br><br>Twitter</div>
			<div style="height: 165px;width: 2px; background-color: gray;float: left;"></div>
			<div style="height: 155px;width: 200px; background-color: white;float: left;"><br><br><br><i class="fa-brands fa-facebook fa-2xl"></i><br><br>Facebook</div>
			<div style="height: 165px;width: 2px; background-color: gray;float: left;"></div>
			<div style="height: 155px;width: 200px; background-color: white;float: left;"><br><br><br><i class="fa-brands fa-linkedin fa-2xl"></i><br><br>Linkedin</div>
			<br><br><br><br><br><br><br><br><br><div style="height: 2px; width: 806px; background-color: gray;float: left;"></div>
			<div style="height: 155px;width: 200px; background-color: white;float: left;"><br><br><br><i class="fa-brands fa-github fa-2xl"></i><br><br>Github</div>
			<div style="height: 155px;width: 2px; background-color: gray;float: left;"></div>
			<div style="height: 155px;width: 200px; background-color: white;float: left;"><br><br><br><i class="fa-brands fa-tiktok fa-2xl"></i><br><br>Music</div>
			<div style="height: 155px;width: 2px; background-color: gray;float: left;"></div>
			<div style="height: 155px;width: 200px; background-color: white;float: left;"><br><br><br><i class="fa-solid fa-font fa-2xl"></i><br><br>Font</div>
			<div style="height: 155px;width: 2px; background-color: gray;float: left;"></div>
			<div style="height: 155px;width: 200px; background-color: white;float: left;"><br><br><br><i class="fa-brands fa-youtube fa-2xl"></i><br><br>Youtube</div></div><br><br>
			<div id="PORTFOLIO"style="height: 500px;width: 1000px;"><hr><br>
				PORTFOLIO<br><br><hr><br><br><div style="height: 350px;width: 20px;float: left;"></div>
				<div style="height: 300px;width: 300px;float: left;">
					<div style="height: 150px;width: 300px;"><img src="babji sir banner.jpg" height="150px" width="300px"></div><div style="height: 10px;width: 300px;"></div>
					<div style="height: 150px;width: 300px;"><img src="C:\Users\G PRASAD\Desktop\psday5.jpg" height="150px" width="300px"></div>
				</div><div style="height: 300px;width: 10px;float: left;"></div>
				<div style="height: 310px;width: 300px;float: left;">
					<img src="https://tse1.mm.bing.net/th?id=OIP.kFPBhp-cR6DgD2s4uwgnMAHaDy&pid=Api&P=0" height="310px" width="300px">
				</div><div style="height: 300px;width: 10px;float: left;"></div>
				<div style="height: 300px;width: 300px;float: left;">
					<div style="height: 150px;width: 300px;"><img src="C:\Users\G PRASAD\Desktop\th.jpeg" height="150px" width="300px"></div><div style="height: 10px;width: 300px;"></div>
					<div style="height: 150px;width: 300px;"><img src=https://technicalhub.io/img/gallery_events/images/ios2.jpg height="150px" width="300px"></div>
				</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><hr color="#EAEDED">
			</div>
			
			<div id="CLIENTS"style="height: 300px;width: 1000px;"><br>
			<b>CLIENTS</b><br><br><hr color="#EAEDED"><br><br><br><div style="height: 250px;width: 200px;float: left;"><i class="fa-solid fa-font fa-2xl"></i></div><div style="height: 250px;width: 200px;float: left;"><i class="fa-brands fa-youtube fa-2xl"style="align-content: left;"></i></div><div style="height: 250px;width: 200px;float: left;"><i class="fa-brands fa-facebook fa-2xl"></i></div><div style="height: 250px;width: 200px;float: left;"><i class="fa-brands fa-twitter fa-2xl"></i></div><div style="height: 250px;width: 200px;float: left;"><i class="fa-brands fa-instagram fa-2xl"></i></div></div>
			<div id="CONTACTME"style="height: 700px;width: 1000px;background-color: #F4F6F6;"><br><b>CONTACT ME</b><br><br><hr color="#EAEDED"><br><br>
				<div style="height: 600px;width: 100px;float: left;"></div>
				<div style="height: 600px;width: 400px;float: left;">
					<div style="height: 50px;width: 400px;background-color: white;text-align: left;color: #707B7C">
	<div style="height: 50px;width: 150px;background-color: white;float: left;text-align: left;"><br>&emsp;Name*
	</div>
	<div style="height: 50px;width: 50px;background-color: #F4F6F6;float: left;">
		
	</div>
	<div style="height: 50px;width: 100px;background-color: white;float: left;text-align: left;"><br>&emsp;Email*
	</div>
</div>
					<div style="height: 20px;width: 400px;"></div>
					<div style="height: 50px;width: 400px;background-color: white;text-align: left;color: 
#707B7C"><br>&emsp;Subject</div>
					<div style="height: 20px;width: 400px;"></div>
					<div style="height: 200px;width: 400px;background-color: white;color: 
#707B7C;text-align: left"><br>&emsp;Message</div>
					<div style="height: 20px;width: 400px;"></div>
					<div style="height: 50px;width: 400px;background-color: darkviolet;color: white;"><br><center>Submit</center></div>
				</div>
				<div style="height: 600px;width: 75px;float: left;">
				</div>
				<div style="height: 600px;width: 350px;float: left;text-align: left;color: #7F8C8D;">
					<b style="color: black;">Prasad Gollapalli</b><br>Engineering<br><br><br><br><b style="color: black;">Phone</b><br><br>767-196-2366<br><br><b style="color: black;">Email</b><br><br>kalebulot@gmail.com<br><br><b style="color: black;">Website</b><br><br>www.kalebu version.com<br><br><i class="fa-brands fa-facebook"></i>&emsp;<i class="fa-brands fa-instagram"></i>&emsp;<i class="fa-brands fa-twitter"></i>&emsp;<i class="fa-brands fa-linkedin"></i>&emsp;<i class="fa-brands fa-github"></i>
				</div>
			</div>
	</div>
</body>
</html>